<div class="container-fluid">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-header></app-header>
    <div class="info">
      <div class="card">
        <div class="card-header">Add User</div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" formControlName="firstName" />
              <span class="text-danger" *ngIf="firstName.invalid && (firstName.touched || formValid)">
                Please Enter FirstName
              </span>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" />
              <span class="text-danger" *ngIf="lastName.invalid && (lastName.touched || formValid)">
                Please Enter LastName
              </span>
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" class="form-control" formControlName="phoneNumber" />
              <span class="text-danger" *ngIf="phoneNumber.invalid && (phoneNumber.touched || formValid)">
                <span *ngIf="phoneNumber.errors?.['required']">Please Enter PhoneNumber</span>
                <span *ngIf="phoneNumber.errors?.['minlength']">Minimum 10 digits</span>
                <span *ngIf="phoneNumber.errors?.['maxlength']">Maximum 10 digits</span>
              </span>
            </div>

            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" formControlName="emailAddress" />
              <span class="text-danger" *ngIf="emailAddress.invalid && (emailAddress.touched || formValid)">
                <span *ngIf="emailAddress.errors?.['required']">Please Enter Email</span>
                <span *ngIf="emailAddress.errors?.['email']">Invalid Email</span>
              </span>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password" />
              <span class="text-danger" *ngIf="password.invalid && (password.touched || formValid)">
                <span *ngIf="password.errors?.['required']">Password is required</span>
                <span *ngIf="password.errors?.['minlength']">Minimum 5 characters</span>
                <span *ngIf="password.errors?.['maxlength']">Maximum 10 characters</span>
              </span>
            </div>

            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" />
              <span class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.touched || formValid)">
                Confirm Password is required
              </span>
              <span class="text-danger" *ngIf="registerForm.errors?.['notmatched']">
                Passwords do not match
              </span>
            </div>

            <div class="row justify-content-end mt-5">
              <button class="btnCancel" type="button" (click)="onCancel()">Cancel</button>
              <button class="btnSave" type="submit">Add User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
